body
{
    background-color: LightYellow;
}

h1
{
    color: black;
    text-align: center;
}

h2, p
{
    color: black;
}



p
{
    font-size: large;
}

footer
{
    background-color: coral;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    position: fixed;
    text-align: center;
    color: ivory;
}